<!DOCTYPE html>
<html>
<style>
.href-styling {
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 6px;
}

.active-a-tag {
	background-color: #4CAF50;
	color: white;
	pointer-events: none;
	border: 2px solid green;
}

form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

label {
	display: block;
}

input[type=text] {
	width: 50%;
	padding: 12px;
	margin: 10px 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #006f5b;
}

ul li {
	float: left;
}

ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul li a:hover {
	background-color: #111111;
}

/* Base styling for the date input */
input[type="date"] {
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 8px 12px;
	border: 1px solid;
	border-radius: 6px;
	background-color: #f9f9f9;
	color: #333;
	outline: none;
	transition: border-color 0.3s, box-shadow 0.3s;
}
</style>

<body>

	<ul>
		<li><a href="/"> Home </a>
		<li><a href="/shipments/goToCreateShipmentPage">Create New
				Shipment</a></li>
		<li><a href="/shipments/">Show ALL Shipments</a></li>
		<li><a href="/customers/goToCreateCustomerPage"
			class="active-a-tag">Create New Customer</a></li>
		<li><a href="/customers/">Show ALL Customers</a></li>
	</ul>

	<!-- 	<div>
		<a href="/"
			style="background-color: #c98b1c; color: #f5f0e9; margin-right: 3px"
			class="href-styling"> Home </a><a
			href="/shipments/goToCreateShipmentPage"
			style="background-color: #d5e6be; color: #24360c;"
			class="href-styling">Create New Shipment</a> <a href="/shipments/"
			style="background-color: #47eddf; color:#592a51;"
			class="href-styling" >Show
			ALL Shipments</a> <a href="/customers/goToCreateCustomerPage"
			class="href-styling active-a-tag">Create New Customer</a> <a
			href="/customers/" style="background-color: #e8d399; color: #66635b;"
			class="href-styling">Show ALL Customers</a>
	</div> -->

	<p th:if="${msg}" id="msgBox"
		th:style="'background:' + ${bgColor} + '; color:' + ${textColor} + '; padding:10px; border-radius:6px; position:relative; font-weight:bold;'">
		<span th:text="${msg}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a
			href="/customers/" th:style="|color:${textColor}|">Show ALL
			Customers</a>
		<!-- ❌ Close button -->
		<span onclick="this.parentElement.style.display='none'"
			style="position: absolute; margin: auto; right: 14px; cursor: pointer; font-weight: bold;">
			X </span>

	</p>


	<form action="/customers/updateCustomer" method="post"
		name="updateCustomemDetails" id="updateCustomemDetails">


		<input type="hidden" name="customerId"
			th:value="${customer.customerId}" /> Customer Id:
		<h3 th:text="${customer.customerId}"></h3>
		<label for="customer name">Customer Name</label> <input type="text"
			name="customerName" id="customerName"
			placeholder="enter customer name"
			th:value="${customer.customerName != null} ? ${customer.customerName} : ''"
			required> <label for="valid upto date">Valid upto</label> <input
			type="date" name="validUpto" id="validUpto" min=""
			th:value="${validUptoJustDate != null} ? ${validUptoJustDate} : ''"
			placeholder="select valid upto date" required><br /> <br />
		<table>
			<tr>
				<td>
					<button onclick="submitIfChanged(event)"
						style="display: inline-block; background-color: #6a73b2; color: #fcfaf5; font-weight: bold; padding: 10px 20px; text-decoration: none; border-radius: 6px; border-color: white; cursor: pointer;">
						Update Customer</button>
					</form>
				</td>
				<td>
					<form
						th:action="@{'/customers/deleteCustomer/' + ${customer.customerId}}"
						method="post">
						<button type="submit"
							onclick="return confirm('Are you sure you want to delete this customer?')"
							style="display: inline-block; background-color: #ed4758; color: #ffffff; font-weight: bold; padding: 10px 20px; text-decoration: none; border-radius: 6px; border-color: white; cursor: pointer;">Delete
							Customer</button>
					</form>
				</td>
			</tr>
		</table>


		<div
			style="border: 1px solid #ccc; padding: 5px; border-radius: 8px; width: 50%; background: #f0f7f2; margin-top: 5px;">

			<h4 style="margin-top: 0;">📌 Conditions for creating/updating
				customer</h4>

			<ol
				style="line-height: 1.8; padding-left: 20px; background-color: #f0f7f2; width: 40%:">
				<li>Customer Name must be at least 5 characters long.</li>
				<li>Customer Name must be maximum 30 characters only.</li>
				<li>Valid Up To date must be a future date (earliest is
					tomorrow).</li>
			</ol>

		</div>


		<script>
		window.addEventListener("load", function() {
			var msg = document.getElementById("msgBox");
			if (msg) {
				setTimeout(function() {
					msg.style.display = "none";
				}, 10000);
			}
		});

		document
				.getElementById("updateCustomemDetails")
				.addEventListener(
						"submit",
						function(event) {

							let customerId = document
									.getElementById("customerId").value;
							let customerName = document
									.getElementById("customerName").value;

							let errorMessage = '';
							let isError = false;

							if (customerName.trim().length < 5) {
								isError = true;
								errorMessage = errorMessage
										+ "Customer Name must be atleast 5 characters long !!\n";
							} else if (customerName.trim().length > 30) {
								isError = true;
								errorMessage = errorMessage
										+ "Customer Name must be maximum 30 characters only !!";
							}

							// check if the selected date is old date -- start
							const selectedDate = document
									.getElementById("validUpto").value; // "2026-05-15"

							if (!selectedDate) {
								alert("Please select a date!");
								return;
							}

							const tomorrow = new Date() + 1;
							today.setHours(0, 0, 0, 0); // strip time for fair comparison

							const picked = new Date(selectedDate);
							picked.setHours(0, 0, 0, 0);

							if (picked < tomorrow) {
								isError = true;
								errorMessage = errorMessage
										+ "Selected date cannot be older than tomorrow!";
							}

							// check if the selected date is old date -- end

							if (isError) {
								alert(errorMessage);
								event.preventDefault(); // 🚫 stop form submission
							}

						});

		// for validUpto field,  prevent calendar from showing previous dates and show only future dates from tomorrow
		const tomorrow = new Date();
		tomorrow.setDate(tomorrow.getDate() + 1);
		document.getElementById("validUpto").min = tomorrow.toISOString()
				.split("T")[0];
		
		// Before submitting the data for updating customer details, check if any data has changed--if yes then update, else dont submit
		// Store original values when page loads
	    const originalValues = {};
	    document.querySelectorAll("#updateCustomemDetails input").forEach(input => {
	        originalValues[input.name] = input.value;
	    });

	    function submitIfChanged(event) {
	    	// alert("hitting submitIfChanged")
	        // Check if any field has changed
	        const hasChanges = Object.keys(originalValues).some(name => {
	            const input = document.querySelector(`[name="${name}"]`);
	            return input && input.value !== originalValues[name];
	        });

	    	// alert("hasChanges:: "+hasChanges)
	    	
	        if (!hasChanges) {
	            alert("No changes were made to customer details hence not updating it!");
				event.preventDefault(); // stop form submission
				return false;
		}else{
			// If Changes found — submit the form
	//  alert("Found some changes in customer details hence updating it!");
	        document.getElementById("updateCustomemDetails").submit();}
	    }
		
		
		
	</script>
</body>
</html>